.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.total {
  color: #ffe81f;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
}

.card-wrapper {
  padding: 20px;
  border: 1px solid #adadad;
  cursor: pointer;
  background: #000000;
}

.card-wrapper:hover {
  transition: all 0.3s ease-in;
  box-shadow: -2px 11px 43px 0px #ffe81f;
  -webkit-box-shadow: -2px 11px 43px 0px #ffe81f;
  -moz-box-shadow: -2px 11px 43px 0px #ffe81f;
}

.card-subtitle {
  font-size: 14px;
  margin-top: 15px;
}

.table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  text-transform: capitalize;
  font-weight: 500;
}

.description {
  text-transform: capitalize;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

.table-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-back {
  font-size: 100%;
  padding: 0.5em 1em;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: 0.3rem solid transparent;
  touch-action: manipulation;
  background: black;
  cursor: pointer;
}

.card-img img {
  width: 300px;
}

@media all and (max-width: 960px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-img img {
    width: 200px;
  }
}

@media all and (max-width: 640px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-img img {
    width: 200px;
  }
}

@media all and (max-width: 480px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-img img {
    width: 200px;
  }
}
